/* RESET */
body {
  margin: 0;
}
h1 {
  margin: 0;
  font-size: 100%;
  font-weight: normal;
}
:root {
  --primary-color: beige;
  --face-color: white;
  --secondary-color: #ffd700;
  --mousein-color: #ffb1b1;
}

/* 스타일 */
body {
  background-color: var(--primary-color);
}

/* animaion */
@keyframes 눈동자왼쪽 {
  from {
    transform: rotate(30deg);
  }
  to {
    transform: rotate(30deg) translate(5px);
  }
}
@keyframes 눈동자오른쪽 {
  from {
    transform: rotate(-30deg);
  }
  to {
    transform: rotate(-40deg) translate(-5px);
  }
}
@keyframes 막대사탕 {
  from {
    transform: rotate(-10deg);
  }
  to {
    transform: rotate(20deg) translate(40px);
  }
}
/* 귀여운 삐딱새 */
.bbidak {
  position: relative;
  top: 200px;
  margin: 50px auto;
  width: 400px;
  height: 380px;
}

/* 귀여운 삐딱새 헤어 */
.bbidak .hair-left {
  position: absolute;
  z-index: 10;
  bottom: 396px;
  left: 100px;
  width: 50px;
  height: 70px;
  border: 8px solid #000;
  border-radius: 28% 72% 52% 48% / 22% 100% 0% 78%;
  border-bottom-style: none;
  background-color: var(--face-color);
  transform: rotate(-15deg);
}
.bbidak .hair-mid {
  position: absolute;
  z-index: 10;
  bottom: 408px;
  left: 170px;
  width: 60px;
  height: 70px;
  border: 8px solid #000;
  border-radius: 55% 45% 100% 0% / 59% 100% 0% 41%;
  border-bottom-style: none;
  background-color: var(--face-color);
}
.bbidak .hair-right {
  position: absolute;
  z-index: 10;
  bottom: 395px;
  left: 250px;
  width: 40px;
  height: 70px;
  border: 8px solid #000;
  border-radius: 70% 30% 0% 100% / 86% 50% 50% 14%;
  border-bottom-style: none;
  background-color: var(--face-color);
  transform: rotate(10deg);
}

/* 귀여운 삐딱새의 얼굴 */
.bbidak .face {
  position: absolute;
  bottom: 0;
  width: 400px;
  height: 400px;
  border-radius: 50%;
  border: 10px solid #000;
  background-color: var(--face-color);
}

/* 귀여운 삐딱새의 볼살 */
.bbidak .face-left {
  position: absolute;
  bottom: 0;
  width: 150px;
  height: 160px;
  top: 160px;
  right: 250px;
  border: 10px solid #000;
  border-radius: 42% 58% 45% 55% / 32% 30% 70% 68%;
  background-color: var(--face-color);
}
.bbidak .face-hidden {
  position: absolute;
  background-color: var(--face-color);
  border-radius: 42% 58% 45% 55% / 32% 30% 70% 68%;
  width: 131px;
  height: 166px;
  top: 194px;
  right: 285px;
}

/* 삐딱새의 초점잃은 눈 */
.eye {
  position: absolute;
  width: 110px;
  height: 120px;
  border: 8px solid #000;
  border-radius: 50%;
}
.eye.left {
  top: 90px;
  left: 5px;
}
.eye.right {
  top: 120px;
  right: 100px;
}
.pupil.left {
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #000;
  top: 10px;
  left: 20px;
  animation: 눈동자왼쪽 1s infinite alternate;
}
.pupil.right {
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #000;
  bottom: 10px;
  right: 15px;
  animation: 눈동자오른쪽 1s infinite alternate;
}
.eyebrow {
  position: absolute;
  width: 10px;
  background-color: #000;
  border-radius: 20px;
}
.eyebrow.left {
  height: 90px;
  top: 35px;
  left: 110px;
  transform: rotate(-30deg);
}
.eyebrow.mid-up {
  height: 60px;
  top: 60px;
  left: 135px;
  transform: rotate(10deg);
}
.eyebrow.mid-down {
  height: 60px;
  top: 60px;
  left: 145px;
  transform: rotate(-10deg);
}
.eyebrow.right {
  height: 120px;
  top: 20px;
  left: 235px;
  transform: rotate(45deg);
}
.eyebrow.right-sub {
  height: 70px;
  top: 55px;
  left: 190px;
  transform: rotate(-5deg);
}

/* 귀여운 삐딱새의 작고 소중한 코 */
.nose {
  position: absolute;
  width: 45px;
  height: 25px;
  background-color: var(--secondary-color);
  border-radius: 20% 20% 50% 50%;
  bottom: 160px;
  left: 120px;
  transform: rotate(5deg);
  box-shadow: 1px 2px 5px rgba(184, 119, 119, 0.884);
}

/* 귀여운 삐딱새의 야무진 입 */
.mouth {
  position: absolute;
  border: 10px solid #000;
  border-radius: 15px 15px 50px 50px / 15px 15px 25px 25px;
  width: 50px;
  height: 80px;
  bottom: 50px;
  left: 100px;
  transform: rotate(5deg);
}
.mouth-in {
  position: absolute;
  background-color: var(--mousein-color);
  border: 8px solid #000;
  border-bottom-style: hidden;
  border-radius: 120px 15px 50px 0px / 91px 15px 25px 0px;
  width: 42px;
  height: 40px;
  bottom: 0px;
}

/* 귀여운 삐딱새의 단짝 막대 사탕 */
.candy {
  position: absolute;
  width: 100px;
  height: 100px;
  border: 8px solid #000;
  border-radius: 50%;
  background-color: #cdf978;
  left: 10px;
  top: 45px;
  box-shadow: 10px 1px 10px rgba(0, 0, 0, 0.452);
  animation: 막대사탕 1s infinite alternate;
}
.candy-mid {
  position: absolute;
  width: 100px;
  height: 20px;
  border: 8px solid #000;
  border-bottom-color: #f5f593e8;
  border-left-style: hidden;
  border-right-style: hidden;
  border-radius: 10px;
  background-color: #ffff9e;
  top: 25px;
  transform: rotate(-14deg);
}
.candy-stick {
  position: absolute;
  width: 12px;
  height: 100px;
  border: 8px solid #000;
  border-radius: 0 0 10px 10px;
  background-color: aliceblue;
  top: 95px;
  left: 70px;
  transform: rotate(-20deg);
}

/* 귀여운 삐딱새의 홍조 */
.flushing {
  position: absolute;
  width: 25px;
  height: 25px;
  background-color: #da6e6e2a;
  box-shadow: 3px 3px 30px #da6e6ea4;
}
.flushing.left {
  top: 230px;
  left: 10px;
  border-radius: 48% 52% 51% 49% / 76% 48% 52% 24%;
}
.flushing.right {
  top: 265px;
  right: 110px;
  border-radius: 28% 72% 12% 88% / 68% 38% 62% 32%;
}
